
@{
    ViewData["Title"] = "Informations";
}

<h1>Informations</h1>
<!-- nagłówek z informacjami o Alanie-->
<p> podstawowe informacje o Alanie</p>

<img src="~/zdjecie/alan.webp" alt="zdjęcie zespołu" />
<!--obrazek drużyny Alana-->
<header>Robot Alan - coś więcej niż kupa złomu!</header>
<!--opis i krótka historia -->
<p>
    zespół, w składzie Klaudiusz, Maciej oraz nauczycielka pani Hanna Stachera, właśnie zdobył główną nagrodę w wysokości 25 000 zł! Dodatkowo ich projekt zdobył także uznanie w postaci nagrody publiczności.
    Nagroda nie przyszła łatwo. Uczniowie poświęcili wiele godzin pracy, poznawania dokumentacji technicznej w językach obcych, pokonywania trudności sprzętowych i programistycznych, by stworzyć projekt, który nie tylko imponuje technologicznie, ale także docelowo przyniesie korzyści społeczności szkolnej.
</p>
<!--rozwinięcie opisu-->
<p>
    Konkursowa wersja robota wyposażona jest w kilka czujników pozwalających na poruszanie się po korytarzach oraz mikrofony i głośniki dające możliwość komunikacji.
    Grant wywalczony w konkursie Tech Minds zostanie przeznaczony na stworzenie humanoidalnego robota, który będzie posiadał dużo więcej czujników oraz będzie mógł jeszcze szybciej komunikować się z użytkownikami. Przed uczniami jeszcze wiele godzin pracy, ale już nie możemy doczekać się jej efektów!
    Sukces „Alana” to nie tylko zwycięstwo naszych uczniów, ale także dowód na to, że determinacja, zaangażowanie i kreatywność mogą przenosić góry. Gratulujemy naszemu zespołowi i czekamy z niecierpliwością na kolejne innowacyjne projekty, które zainspirują naszych uczniów!
</p>
<footer>więcej informacji na: <a href="www.laski.edu.pl"> strona Lasek</a></footer>
