@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Kontakt</h1>
<label><p>podaj swój mail</p>
<input id="Text1" type="text" /></label>
<label><p>napisz wiadomość</p>
<textarea id="TextArea1" rows="2" cols="20"></textarea></label>
<input id="Submit1" type="submit" value="submit" />